
.icon-apartments:before { content: '\e800'; } /* '' */
.icon-appliances:before { content: '\e801'; } /* '' */
.icon-author:before { content: '\e802'; } /* '' */
.icon-balconies:before { content: '\e803'; } /* '' */
.icon-building:before { content: '\e804'; } /* '' */
.icon-check:before { content: '\e805'; } /* '' */
.icon-children-infrastructure:before { content: '\e806'; } /* '' */
.icon-common-data:before { content: '\e807'; } /* '' */
.icon-communications:before { content: '\e808'; } /* '' */
.icon-entrance:before { content: '\e809'; } /* '' */
.icon-inner-infrastructure:before { content: '\e80a'; } /* '' */
.icon-intenet:before { content: '\e80b'; } /* '' */
.icon-misc:before { content: '\e80c'; } /* '' */
.icon-near-environment:before { content: '\e80d'; } /* '' */
.icon-parking:before { content: '\e80e'; } /* '' */
.icon-point:before { content: '\e80f'; } /* '' */
.icon-service-security:before { content: '\e810'; } /* '' */
.icon-sides:before { content: '\e811'; } /* '' */
.icon-sport-infrastructure:before { content: '\e812'; } /* '' */
.icon-telephone-tv:before { content: '\e813'; } /* '' */
.icon-terms:before { content: '\e814'; } /* '' */
.icon-traffic:before { content: '\e815'; } /* '' */
.icon-view-from-windows:before { content: '\e816'; } /* '' */
.icon-windows:before { content: '\e817'; } /* '' */
.icon-yard:before { content: '\e818'; } /* '' */
.icon-apartments_other:before { content: '\e819'; } /* '' */
.icon-building_other:before { content: '\e81a'; } /* '' */
.icon-contacts_other:before { content: '\e81b'; } /* '' */
.icon-cost_other:before { content: '\e81c'; } /* '' */
.icon-entrance_other:before { content: '\e81d'; } /* '' */
.icon-gallery_other:before { content: '\e81e'; } /* '' */
.icon-location_other:before { content: '\e81f'; } /* '' */
.icon-near-enviroment_other:before { content: '\e820'; } /* '' */
.icon-parking_other:before { content: '\e821'; } /* '' */
.icon-service_other:before { content: '\e822'; } /* '' */
.icon-techs_other:before { content: '\e823'; } /* '' */
.icon-traffic_other:before { content: '\e824'; } /* '' */
.icon-windows_other:before { content: '\e825'; } /* '' */
.icon-yard_other:before { content: '\e826'; } /* '' */